<body>
  <app-navbar></app-navbar>
  <br>
  <h1 style="color: white; text-align: center;">Tus ligas de deportes</h1>
  <hr style="color: white; width: 500%">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let ligas of LigasModel">
        <div class="card" style="width: 18rem;">
          <img src="{{ligas.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ligas.name}}</h5>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-success">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Liga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
